.about { 
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: monospace;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }

}

.about::before {
    content: "";
    background:url("../assets/marvelCharacters.jpg") no-repeat center center/cover;
    position:absolute;
    height: 400px;
    width: 100%;
    z-index: -1;
    top: 20px;
    opacity: 0.49;
}


.marvel-intro{
    margin: 0px 10px;
    padding: 10px 0px;
    h1{
        font-size: 1.7rem;
        font-family: monospace;
        
    }
    h2{
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    h3{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        padding: 10px 0px;
        font:  50 16px/1.5 Open Sans,Trebuchet MS,Helvetica,Arial,sans-serif;

    }
}
    
