.btn{
    all: unset;
    color: #e8e4e4;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    border: 1px solid #e2dddd;
    background:$btn-background-color;
    padding: 8px;
    min-width: 77px;
    text-align: center;
    border-radius: 4px;
    margin: 8px 10px;

    &:hover{
        opacity: 1;
        background-color: $btn-background-color-on-hover;
        cursor: pointer;
    }
}