.character-list{
    display: flex;
    flex-wrap: wrap;
}

.character-card{
    background-color:$cardBackgroundColor;
    display: flex;
    align-items: center;
    width: 15rem;
    height: 20rem;
    margin: 10px auto;
}


.character-img{
    width: 7rem;
}
