.card-list{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.character-img{
    width: 7rem;
}

.card{
    margin: 15px 20px;
    width: 15rem;
    height: auto;
    // background: $cardBackgroundColor;
    border-radius: 4px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    
    .title{
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        // color:#000; 
    }
    &:hover{
        transform: translate(0px, -5px);
        color: $font-color-on-hover;
    }
}

.card-image{
 width: auto;
 height: 20rem;
}


.card-content-div{
    text-align: center;        
}

.card-content{
    padding: 10px 0px 10px 0px ;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 25px; 
    font-family: $font-family;
    font-weight: 500; 
    color: #cbd5e1;
}
