.vanta-canvas{
    z-index: 0;
    top: 67px;
    left: 0px;
    width: 100% !important;
    height:90vh !important;
}

.landing-page::before{
    content: "";
    background: url('.././assets/marvelbg.jpg') no-repeat center center/cover;
    opacity: 0.1;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    margin-top: 7em
}