@import './variables';

header{
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color:$navbarBackgroundColor  ;
    flex-wrap: wrap;
    border-top: 1px solid #e4e2e2ad;
    border-bottom: 1px solid #e4e2e2ad;

    img{
        width: 5rem;
    }

    div{
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        float: right;

    }
}

.app-name{
    font-size: 2em;
    font-weight: 700;
    align-self: center;
    color:$navTextColor ;
}

.navlink{
    color: $navTextColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding: 0 10px;
    margin-bottom: 5px;
    position: relative;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.5px;
    &::after{
        content: " ";
        position: absolute;
        background-color: #ff3c78;
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      
    }
    &:hover::after{
        cursor: pointer;
        color: #fff;
        width: 90%;
    }
    &:hover{
        color: #fff;
    }
}