$navbarBackgroundColor :#e42525; 
$background-color:#f42525;
$textColor :#000;
$navTextColor :#a0a0a0;
$btn-backgroundColor :#0ea5e9;
$btn-font-color:#fff;
$btn-background-color:#f42525;
$btn-background-color-on-hover:#a80d0f;
$contact-input-background-color:#fff;
$contact-input-border-color:#fff;
$font-family:'Poppins', sans-serif;
$sidebar-link-color:#576ee0;
$border-radius : 0.5rem;
$transition :0.3s;
$link-color: #576ee0;
$paragraph-font-color:#6a6d7c;
$project-card-background-color:#fff;
$home-footer-background-color:#0e101b;
$paragraph-font-color:#babcc4;
$font-color: #fff;
$project-card-background-color:#1d2135;
$font-color-on-hover:#e42525;