* {
  margin: 0px;
  padding: 0px; }

#root, body, html {
  overflow-x: hidden; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fffefe00;
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2389CC 0%, #2C87C7 42%, #202428 100%);
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

header {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, #2389CC 0%, #2C87C7 40%, #202428 100%);
  flex-wrap: wrap;
  border-top: 1px solid #e4e2e2ad;
  border-bottom: 1px solid #e4e2e2ad; }
  .navbar img {
    width: 5rem; }
  .navbar div {
    display: flex;
    flex-direction: row;
    float: right; }

.app-name {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
  color: #a0a0a0; }

.navlink {
  color: #a0a0a0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  padding: 0 10px;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Poppins' , sans-serif;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.5px; }
  .navlink::after {
    content: " ";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s; }
  .navlink:hover::after {
    cursor: pointer;
    color: #fff;
    width: 90%; }
  .navlink:hover {
    color: #fff; }

.vanta-canvas {
  z-index: 0;
  top: 67px;
  left: 0px;
  width: 100% !important;
  height: 90vh !important; }

.btns {
  display: flex;
  justify-content: center;
  align-items: center; }

.landing-page {
  height: 90vh;
  display: flex;
  justify-content: center; }

.btn {
  all: unset;
  color: #e8e4e4;
  font-size: 15px;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  border: 1px solid #e2dddd;
  background: #0ea5e9;
  padding: 8px;
  min-width: 77px;
  text-align: center;
  border-radius: 4px;
  margin: 8px 10px; }
  .btn:hover {
    opacity: 1;
    background-color: #38bdf8;
    cursor: pointer; }

.card-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.character-img {
  width: 7rem; }

.card {
  margin: 15px 15px;
  width: 15rem;
  height: auto;
  background-color: #051b27;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .card:hover {
    transform: translate(0px, -5px); }

.card-image {
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%; }

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 10px;
  color: #0ea5e9; }

.card-content-div {
  text-align: center; }

.card-content {
  padding: 10px 0px 10px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #cbd5e1; }

.about {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .about h1 {
    font-family: monospace;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #000; }

.about::before {
  content: "";
  background: url("../assets/marvelCharacters.jpg") no-repeat center center/cover;
  position: absolute;
  height: 400px;
  width: 100%;
  z-index: -1;
  top: 20px;
  opacity: 0.49; }

.marvel-intro {
  margin: 0px 10px;
  padding: 10px 0px; }
  .marvel-intro h1 {
    font-size: 1.7rem;
    font-family: monospace; }
  .marvel-intro h2 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif; }
  .marvel-intro h3 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; }
  .marvel-intro p {
    padding: 10px 0px;
    font: 50 16px/1.5 Open Sans,Trebuchet MS,Helvetica,Arial,sans-serif; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=index.css.map */
