header {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #e42525;
  flex-wrap: wrap;
  border-top: 1px solid #e4e2e2ad;
  border-bottom: 1px solid #e4e2e2ad; }
  .navbar img {
    width: 5rem; }
  .navbar div {
    display: flex;
    flex-direction: row;
    float: right; }

.app-name {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
  color: #a0a0a0; }

.navlink {
  color: #a0a0a0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  padding: 0 10px;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Poppins' , sans-serif;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.5px; }
  .navlink::after {
    content: " ";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s; }
  .navlink:hover::after {
    cursor: pointer;
    color: #fff;
    width: 90%; }
  .navlink:hover {
    color: #fff; }

.landing-page::before {
  content: "";
  background: url(".././assets/marvelbg.jpg") no-repeat center center/cover;
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89; }

.btns {
  display: flex;
  justify-content: center;
  align-items: center; }

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.heading {
  display: flex;
  color: #fff;
  margin-top: 9em;
  padding: 24px 0px; }

.get-started-btn {
  display: grid;
  place-items: center;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .get-started-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .get-started-btn:focus {
    outline: none; }

.Typewriter {
  padding: 0px 5px !important; }

.btn {
  all: unset;
  color: #e8e4e4;
  font-size: 15px;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  border: 1px solid #e2dddd;
  background: #f42525;
  padding: 8px;
  min-width: 77px;
  text-align: center;
  border-radius: 4px;
  margin: 8px 10px; }
  .btn:hover {
    opacity: 1;
    background-color: #a80d0f;
    cursor: pointer; }

.card-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline; }

.character-img {
  width: 7rem; }

.card {
  margin: 15px 20px;
  width: 15rem;
  height: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .card .title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px; }
  .card:hover {
    transform: translate(0px, -5px);
    color: #e42525; }

.card-image {
  width: auto;
  height: 20rem; }

.card-content-div {
  text-align: center; }

.card-content {
  padding: 10px 0px 10px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #cbd5e1; }

.about {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .about h1 {
    font-family: monospace;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #000; }

.about::before {
  content: "";
  background: url("../assets/marvelCharacters.jpg") no-repeat center center/cover;
  position: absolute;
  height: 400px;
  width: 100%;
  z-index: -1;
  top: 20px;
  opacity: 0.49; }

.marvel-intro {
  margin: 0px 10px;
  padding: 10px 0px; }
  .marvel-intro h1 {
    font-size: 1.7rem;
    font-family: monospace; }
  .marvel-intro h2 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif; }
  .marvel-intro h3 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; }
  .marvel-intro p {
    padding: 10px 0px;
    font: 50 16px/1.5 Open Sans,Trebuchet MS,Helvetica,Arial,sans-serif; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; }

.swiper {
  width: 75% !important;
  height: 60vh !important;
  padding: 30px !important; }

.swiper-slide {
  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper {
  margin-left: auto;
  margin-right: auto; }

.swiperCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none; }
  .swiperCard img {
    height: 50vh;
    width: 35vh;
    position: relative;
    display: inline-block;
    margin-bottom: 20px; }
  .swiperCard:hover {
    color: #eb2328;
    cursor: pointer; }
    .swiperCard:hover img {
      transform: translate(0px, -5px);
      transition: all .17s ease-in-out;
      box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4); }

@media only screen and (max-width: 380px) {
  .swiperCard img {
    height: 40vh;
    width: 30vh; } }
* {
  margin: 0px;
  padding: 0px; }

#root, body, html {
  overflow-x: hidden;
  color: #000;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fffefe00;
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2389CC 0%, #2C87C7 42%, #202428 100%);
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=index.css.map */
